
#memove {
padding-top: 100px;

}
.btn-text-3rdgreen {
    color: #a9fdac;
}



.header-nav-link {
    color: #32a287;
}

.flex_main_img {
    float: right;
    margin-top: 32px;
}

#main_img {
    float: right;
}

.containsignuptext {
    
}

.points {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 53px;
}
